*{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.nav{
    background: none;
    position: absolute;
    z-index: 50;
    box-shadow: none;
}
.nav-wrapper i{
   color: white;
}
.nav-wrapper ul li a{
    color: white;
}
.brand-logo{
    font-family: 'Bebas Neue', cursive;
    text-shadow:2px 2px 5px black;
    line-height: 64px;
}
.caption{
    text-shadow:2px 2px 5px black;
    top: 25%!important;
}
.slider .indicators .indicator-item.active{
    background-color: #3F5EFB;
}
#info .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.abt h4{
    margin-bottom: 0;
}
#info p{
    font-size: 1.3rem;
    margin-top: 2px;
}
#services h3, #extra p, #info h4, #enquiry h3{
    width: fit-content;
    margin: 10px auto;
    -webkit-background-size: 125%;
    background-image:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#info, #icons, #extra{
    margin: 40px 0;
}
h3,h4   {
    font-family: 'Bebas Neue', cursive;
}
#icons .material-icons{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-size: 125%;
    background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);  
}
#icons .col{
    margin: 20px 0;
}
.page-footer{
    background: #FC466B; 
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);  
}
.align{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.align *{
    margin: 0 5px;
}
.ico{
    margin-left: 10px;
}
.card-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comingsoon{
    color: grey;
}
#featured{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffff00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
#featured h3{
    margin: 0!important;
    color: white;
}
.articlebutton{
    color: #e1306c!important;
}
#enquiry form{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 20px 20px;
    border-radius: 2px;
}
#enquiry{
    margin-bottom: 50px;
}
.btn{
    -webkit-background-size: 250%;
    background-image:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);  
}
@media only screen and (min-width: 1000px){
    .brand-logo{
        margin-left: 50px;
    }
    
}